@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  color: #212121;
}

body.modal-open {
  overflow: hidden;
}

h1 {
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 1.36;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.167;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 28px;
    line-height: 1.178;
    margin-bottom: 50px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
}

a:hover:not(.logo):not(.project-link), a:focus:not(.logo):not(.project-link) {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.logo-accent {
  color: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.footer .logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

address {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.hero-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
  opacity: 1;
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover, .modal-close-button:focus {
  transform: scale(1.2);
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
  fill: #2196f3;
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  opacity: 1;
}

.gallery .gallery-button-list .btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery .gallery-button-list .btn:hover, .gallery .gallery-button-list .btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.footer-submit-button {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 62px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline-style: none;
  border-style: none;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-button:hover, .footer-submit-button:focus {
  opacity: 1;
}

.navigation .menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60px;
  padding: 0;
  outline-style: none;
  border-style: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

.navigation .menu-button:hover, .navigation .menu-button:focus {
  fill: #2196f3;
}

.navigation .menu-button .icon-cross {
  display: none;
}

.navigation .menu-button.is-open .icon-cross {
  display: block;
}

.navigation .menu-button.is-open .icon-burger {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation .menu-button {
    display: none;
  }
}

.modal-close-button-icon {
  fill: #000000;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.team .socialnet-icon {
  width: 20px;
  height: 20px;
}

.customer-logo {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo:hover, .customer-logo:focus {
  border-color: #2196f3;
}

.customers-list .logo1 {
  width: 45px;
  height: 50px;
}

.customers-list .logo2 {
  width: 40px;
  height: 52px;
}

.customers-list .logo3 {
  width: 41px;
  height: 43px;
}

.customers-list .logo4 {
  width: 80px;
  height: 43px;
}

.customers-list .logo5 {
  width: 59px;
  height: 47px;
}

.customers-list .logo6 {
  width: 89px;
  height: 46px;
}

.footer-socialnet-list .socialnet-icon {
  width: 20px;
  height: 20px;
}

.footer-submit-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/icon-send.svg");
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    max-width: 528px;
    height: 581px;
  }
}

header .modal-burger-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  display: none;
}

header .modal-burger-menu.is-open {
  display: block;
}

header .modal-burger-menu .nav-list-mobile {
  font-size: 40px;
  line-height: 1.175;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 302px;
}

header .modal-burger-menu .nav-list-mobile .item + .item {
  margin-top: 32px;
}

header .modal-burger-menu .nav-list-mobile .item a {
  display: inline-block;
}

header .modal-burger-menu .contacts-list-mobile .contacts-link-tel {
  font-size: 34px;
  line-height: 1.176;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

header .modal-burger-menu .contacts-list-mobile .contacts-link-mail {
  font-size: 24px;
  line-height: 1.167;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

header .modal-burger-menu .social-list {
  display: flex;
  font-size: 18px;
  line-height: 1.222;
  font-weight: 500;
  letter-spacing: 0.02em;
}

header .modal-burger-menu .social-list li + li {
  margin-left: 20px;
}

header .modal-burger-menu .social-list li {
  display: flex;
}

header .modal-burger-menu .social-list li::after {
  content: "";
  width: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

header .modal-burger-menu .social-list a {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .modal-burger-menu {
    display: none;
  }
}

.modal .form {
  display: flex;
  flex-direction: column;
}

.modal .form h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal .form .form-label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal .form .form-label:focus-within .form-input,
.modal .form .form-label:focus-within .form-textarea {
  border-color: #2196f3;
}

.modal .form .form-label:focus-within .input-wrapper .modal-icon {
  fill: #2196f3;
}

.modal .form .form-label .input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal .form .form-label .form-input,
.modal .form .form-label .form-textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  outline: none;
}

.modal .form .form-label .form-input {
  padding-left: 40px;
}

.modal .form .form-label .form-textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.modal .form .label-textarea {
  margin-bottom: 20px;
}

.modal .form .checkbox {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  padding-left: 24px;
}

.modal .form .checkbox .agreement {
  display: inline;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal .form .checkbox .agreement::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-image: url(../img/svg/check-border.svg);
  background-size: cover;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form .checkbox .agreement a {
  display: inline;
  text-decoration: underline;
  color: #2196f3;
  line-height: 1.71;
}

.modal .form .checkbox input:focus + .agreement::before {
  background-image: url(../img/svg/check-border-acc.svg);
}

.modal .form .checkbox input:checked + .agreement::before {
  background-image: url(../img/svg/icon-check.svg);
}

@media screen and (min-width: 1200px) {
  .modal .form .checkbox {
    padding-left: 36px;
  }
  .modal .form .checkbox .agreement {
    width: 450px;
    font-size: 14px;
    line-height: 1.71;
  }
  .modal .form .checkbox .agreement::before {
    left: 12px;
  }
}

/* скрытие дефолтного чекбокса */
.modal-checkbox-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.footer .form-footer-label {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .form-footer-label .form-footer-input {
  padding: 0;
  outline-style: none;
  color: #ffffff;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.footer .form-footer-label .form-footer-input:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer form {
    display: flex;
    align-items: baseline;
  }
  .footer .form-footer-label {
    display: inline-block;
    margin-right: 12px;
  }
  .footer .form-footer-label .form-footer-input {
    margin-bottom: 0;
    width: 358px;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

header .nav-list,
header .contacts-list {
  display: none;
}

header .flex-cont .navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  header .flex-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .flex-cont .navigation .logo {
    margin-right: 88px;
  }
  header .flex-cont .navigation .mobile-burger-btn {
    display: none;
  }
  header .flex-cont .navigation .nav-list {
    display: flex;
  }
  header .flex-cont .navigation .nav-list .item + .item {
    margin-left: 50px;
  }
  header .flex-cont .navigation .nav-list .item a {
    padding-top: 33px;
    padding-bottom: 33px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  header .flex-cont .navigation .nav-list .current {
    position: relative;
  }
  header .flex-cont .navigation .nav-list .current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
  header .flex-cont .contacts-list {
    display: flex;
    flex-direction: column;
  }
  header .flex-cont .contacts-list .item + .item {
    margin-top: 10px;
  }
  header .flex-cont .contacts-list .item .contacts-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.167;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 5px;
    padding-bottom: 5px;
    fill: #757575;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  header .flex-cont .contacts-list .item .contacts-link:hover, header .flex-cont .contacts-list .item .contacts-link:focus {
    fill: #2196f3;
    color: #2196f3;
  }
  header .flex-cont .contacts-list .item .contacts-link svg {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  header .flex-cont .navigation .logo {
    margin-right: 93px;
  }
  header .flex-cont .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header .flex-cont .contacts-list .item + .item {
    margin-left: 50px;
    margin-top: 0;
  }
  header .flex-cont .contacts-list .item .contacts-link {
    font-size: 14px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
  header .flex-cont .contacts-list .item .contacts-link .item svg {
    margin-right: 10px;
  }
}

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2f303a;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.hero-banner .div-hero-txt {
  width: 360px;
}

.overlay {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile.jpg);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-banner {
    max-width: 768px;
    height: 400px;
  }
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-banner {
    max-width: 1600px;
    height: 600px;
  }
  .hero-banner .div-hero-txt {
    width: 696px;
  }
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-desktop@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1199px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-mobile@2x.jpg);
  }
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature .feature-list {
  text-align: center;
}

.feature .feature-list .item .feature-icon-background {
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
}

.feature .feature-list .item .feature-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
}

.feature .feature-list .item .feature-text {
  text-align: start;
  line-height: 1.71;
  color: #757575;
  margin-top: 0;
  margin-bottom: 30px;
}

.feature .feature-list .item .feature-text.no-padding {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .feature .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .feature .feature-list .item:nth-child(2n) {
    margin-left: 30px;
  }
  .feature .feature-list .item {
    width: 354px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .feature .feature-list .item {
    width: 270px;
  }
  .feature .feature-list .item:nth-child(3) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .business {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .business {
    padding-bottom: 94px;
  }
  .business .business-list {
    display: flex;
    justify-content: space-between;
  }
  .business .business-list .item {
    width: 370px;
  }
  .business .business-list .item .business-thumb {
    position: relative;
  }
  .business .business-list .item .business-thumb .overlay-business {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .business .business-list .item .business-thumb .overlay-business h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team .team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .team-list .item {
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .team-list .member-description {
  padding: 30px;
}

.team .team-list .member-description .member-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team .team-list .member-description .member-position {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
}

.team .team-list .member-description .member-socialnet-list {
  display: flex;
  justify-content: center;
}

.team .team-list .member-description .member-socialnet-list li + li {
  margin-left: 10px;
}

.team .team-list .member-description .member-socialnet-list li {
  width: 44px;
  height: 44px;
}

.team .team-list .member-description .member-socialnet-list li .member-sn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team .team-list .member-description .member-socialnet-list li .member-sn-link:hover, .team .team-list .member-description .member-socialnet-list li .member-sn-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .team .team-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team .team-list .item:nth-child(odd) {
    margin-right: 30px;
  }
  .team .team-list .item:nth-child(3) {
    margin-bottom: 0;
  }
  .team .team-list .item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team .team-list {
    display: flex;
    justify-content: space-between;
  }
  .team .team-list .item:nth-child(odd) {
    margin: 0;
  }
  .team .team-list .item:nth-child(even) {
    margin: 0;
  }
}

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}

.gallery .gallery-button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.gallery .gallery-button-list .item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

.gallery .gallery-button-list .item:not(:first-child):not(:nth-child(4)) {
  margin-left: 8px;
}

.gallery .project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery .project-list .item {
  border: 1px solid #eeeeee;
}

.gallery .project-list .item:not(:last-child) {
  margin-bottom: 30px;
}

.gallery .project-list .project-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery .project-list .project-link:hover, .gallery .project-list .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery .project-list .project-link .project-thumb {
  position: relative;
  overflow: hidden;
}

.gallery .project-list .project-link .project-thumb .project-overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery .project-list .project-link .project-thumb .project-overlay p {
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
  margin: 0;
}

.gallery .project-list .project-link .project-description {
  padding: 20px 24px;
}

.gallery .project-list .project-link .project-description h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.gallery .project-list .project-link .project-description p {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  margin: 0;
}

.gallery .project-list .project-link:hover .project-overlay,
.gallery .project-list .project-link:focus .project-overlay {
  transform: translateY(-100%);
}

@media screen and (min-width: 768px) {
  .gallery .gallery-button-list {
    margin-bottom: 30px;
    justify-content: center;
  }
  .gallery .gallery-button-list .item:nth-child(n) {
    margin-bottom: 0;
  }
  .gallery .gallery-button-list .item + .item {
    margin-left: 8px;
  }
  .gallery .project-list {
    flex-wrap: wrap;
  }
  .gallery .project-list .item {
    width: 354px;
  }
  .gallery .project-list .item:nth-child(2n) {
    margin-left: 30px;
  }
  .gallery .project-list .item:last-child {
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .gallery .gallery-button-list {
    margin-bottom: 80px;
  }
  .gallery .project-list {
    margin: -30px;
  }
  .gallery .project-list .item:last-child {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .gallery .project-list .item {
    margin-left: 30px;
  }
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers .container {
  max-width: 449px;
}

.customers .customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers .customers-list .customer-list-item {
  width: 210px;
  height: 90px;
  margin-bottom: 30px;
}

.customers .customers-list .customer-list-item:last-child {
  margin-bottom: 0;
}

.customers .customers-list .customer-list-item .customer-logo-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .customers-list .customer-list-item .customer-logo-link:hover, .customers .customers-list .customer-list-item .customer-logo-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .customers .container {
    max-width: 480px;
  }
  .customers .customers-list .customer-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .customers .customers-list .customer-list-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .customers .container {
    max-width: 768px;
  }
  .customers .customers-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .customers .customers-list .customer-list-item {
    width: 226px;
    height: 90px;
    margin-right: 30px;
  }
  .customers .customers-list .customer-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .customers .customers-list .customer-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .customers .container {
    max-width: 1200px;
  }
  .customers .customers-list .customer-list-item {
    width: 170px;
    height: 90px;
  }
  .customers .customers-list .customer-list-item:nth-child(n) {
    margin: 0;
  }
  .customers .customers-list .customer-list-item + .customer-list-item {
    margin-left: 30px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer .footer-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer .container .left-side address {
  margin-bottom: 8px;
}

.footer .container .left-side .footer-contacts-list {
  margin-bottom: 60px;
}

.footer .container .left-side .footer-contacts-list .item .footer-contacts-link {
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .container .left-side .footer-contacts-list .item .footer-contacts-link:hover, .footer .container .left-side .footer-contacts-list .item .footer-contacts-link:focus {
  color: #2196f3;
}

.footer .container .left-side .footer-contacts-list .item:not(:last-child) {
  margin-bottom: 8px;
}

.footer .container .right-side .footer-block-socialnet .footer-socialnet-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.footer .container .right-side .footer-block-socialnet .footer-socialnet-list li {
  width: 44px;
  height: 44px;
}

.footer .container .right-side .footer-block-socialnet .footer-socialnet-list li .footer-socialnet-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .container .right-side .footer-block-socialnet .footer-socialnet-list li .footer-socialnet-link:hover, .footer .container .right-side .footer-block-socialnet .footer-socialnet-list li .footer-socialnet-link:focus {
  background-color: #2196f3;
}

.footer .container .right-side .footer-block-socialnet .footer-socialnet-list li + li {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 60px;
  }
  .footer .container .left-side {
    margin-right: 165px;
  }
  .footer .container .left-side .footer-contacts-list {
    margin-bottom: 0;
  }
  .footer .container .right-side .footer-block-socialnet .footer-socialnet-list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 507px;
  }
  .footer .container .left-side {
    min-width: 230px;
    margin-right: 70px;
  }
  .footer .container .right-side {
    margin-right: 93px;
  }
}
/*# sourceMappingURL=main.css.map */