.hero-banner {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 600px;
  max-width: 1600px;
  background-color: $hero-background-color;
  margin-left: auto;
  margin-right: auto;

  .div-hero-txt {
    width: 696px;
  }
}

.overlay {
  background-image: linear-gradient($overlay-color, $overlay-color),
    url(../img/hero-banner.jpg);
}
