.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $hero-background-color;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  .div-hero-txt {
    width: 360px;
  }
}

.overlay {
  background-image: linear-gradient($overlay-color, $overlay-color),
    url(../img/hero/hero-mobile.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero-banner {
    max-width: 768px;
    height: 400px;
  }

  .overlay {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url(../img/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-banner {
    max-width: 1600px;
    height: 600px;

    .div-hero-txt {
      width: 696px;
    }
  }

  .overlay {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url(../img/hero/hero-desktop.jpg);
  }
}

// Картинки 2x для экранов retina
// все картинки прошли оптимизатор
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url(../img/hero/hero-desktop@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1199px),
  screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .overlay {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url(../img/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient($overlay-color, $overlay-color),
      url(../img/hero/hero-mobile@2x.jpg);
  }
}

// .hero-banner {
//   display: flex;
//   text-align: center;
//   justify-content: center;
//   align-items: center;
//   height: 600px;
//   max-width: 1600px;
//   background-color: $hero-background-color;
//   margin-left: auto;
//   margin-right: auto;

//   .div-hero-txt {
//     width: 696px;
//   }
// }

// .overlay {
//   background-image: linear-gradient($overlay-color, $overlay-color),
//     url(../img/hero-banner.jpg);
// }
