$main-font: "Roboto", sans-serif;
$second-font: "Raleway", sans-serif;
$main-dark-color: #212121;
$second-dark-color: #757575;
$accent-color: #2196f3;
$contacts-color-footer: rgba(255, 255, 255, 0.6);
$hero-background-color: #2f303a;
$background-team-section: #f5f4fa;
$container-border: #eeeeee;
$header-border: #ececec;
$overlay-color: rgba(47, 48, 58, 0.4);
$fill-logo: #afb1b8;
$social-footer-bg: rgba(255, 255, 255, 0.1);
$white-color: #ffffff;
$black-color: #000000;
